

.reminderDetail{
    font-size: 25px;
    margin-left:600px;
    margin-top: 110px;
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: black;
}
/*For PaiChart*/
#piechart{
    margin-left: 300px;
}
#piechartForLastMonth{
    margin-top: -500px;
    margin-left: 800px;
}

#reminderFooter {
    bottom: -150px;
    width: 100%;
    position: absolute;

    background: url(top_header_back.png) repeat-x left top;
    color:silver;
    height: 30px;
    min-width: 950px;
    padding: 7px 0 13px;

}
.footer-block {
    margin-bottom: 0;
    text-align: center;
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;

}
